<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">LectureImprov</h2>
                <p class="lead">An innovative, real-time classroom learning tool for getting the most out of your lectures. Built with the <a target="_blank" href="http://www.mean.io">MEAN stack</a>.</p>
                <br/>
                <ul class="list-inline intro-social-buttons">
                    <li><a target="_blank" href="http://agile-ocean-2183.herokuapp.com/" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Live Demo</span></a></li>
                    <li><a target="_blank" href="https://github.com/benjyblack/honours" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/lectureimprov.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Qwikipedia</h2>
                <p class="lead">Hover over blue terms in Wikipedia pages for a convenient popup decribing that term.</p>
                <br/>
                <ul class="list-inline intro-social-buttons">
                    <li><a target="_blank" href="https://chrome.google.com/webstore/detail/qwikipedia/kbbfhhcbaaahidkajomclgljbilpijla" class="btn btn-default btn-lg"><i class="fa fa-puzzle-piece fa-fw"></i> <span class="network-name">Chrome Web Store</span></a></li>
                    <li><a target="_blank" href="https://github.com/benjyblack/qwikipedia" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/qwikipedia.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Putrefied Pugilist Revenge</h2>
                <p class="lead">Top-down fighting game written in <a target="_blank" href="http://www.processing.org">Processing</a> and ported onto the web with <a target="_blank" href="http://www.processingjs.com">ProcessingJS</a>.</p>
                <br/>
                <ul class="list-inline intro-social-buttons">
                    <li><a target="_blank" href="boxer.html" class="btn btn-default btn-lg"><i class="fa fa-gamepad fa-fw"></i> <span class="network-name">Play</span></a></li>
                    <li><a target="_blank" href="https://github.com/benjyblack/boxer" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/boxer.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Student Bodies</h2>
                <p class="lead">Survival-horror game written in C# and XNA.</p>
                <br />
                <ul class="list-inline intro-social-buttons">
                    <li><a href="http://sourceforge.net/projects/studentbodies/?source=directory" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-gear fa-fw"></i><span class="network-name">Sourceforge</a></li>
                    <li><a target="_blank" href="https://github.com/benjyblack/studentbodies" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/studentbodies.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
