<div ng-controller="TravelCtrl">
    <div class="intro-header travel-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Travel</h1>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

        <p class="footer photo-credit">Photo by Ben Black </p>
    </div>
    <!-- /.intro-header -->

    <div id="map-canvas"></div>
</div>